body{
    font-family: Arial,  sans-serif;
    background: #f4f6f9;
    display: flex;
    align-items: center;
    height: 100vh;
}
.my-form{
    background: 25px;
    padding: 25px;
    border-bottom: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 350px;
    
}